.navbar {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 10px;
  display: flex;
  align-items: center;
  height: 6rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 3rem;
  height: 0.4rem;
  background-color: var(--light-color);
  margin: 3px 0;
  transition: 0.3s;
}

.hamburger-icon.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-6px, 8px);
}

.hamburger-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-6px, -8px);
}

.title {
  margin-left: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.nav-elements {
  font-size: 6rem;
}

.nav-elements.active {
  padding-top: 6rem;
}

.nav-elements li a {
  border-bottom: 1px solid;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}
