p {
  font-size: 3rem;
}
.btn-container {
  position: fixed;
  bottom: 0;
}

.btn {
  width: 50vw;
  border-radius: 0;
  bottom: 0;
}

.order-container {
  display: grid;
  grid-template-columns: repeat(1fr);
}

.ingredient-container {
  display: grid;
  grid-template-columns: 7fr 3fr;
  width: 100%;
}

.ingredient-name {
  border: 0px;
  border-bottom: 1px;
  border-color: #000;
  border-style: solid;
  padding: 1.5rem;
}

.ingredient-quantity {
  background: none;
  border: 0px;
  border-left: 1px solid rgb(0, 0, 0, 0.2);
  border-bottom: 1px solid #000;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
}

.order {
  background-color: var(--green-color);
}
