p {
  font-size: 3rem;
}
.btn-container {
  position: fixed;
  bottom: 0;
}

.btnOrder {
  width: 50vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 0;
}

.order-container {
  display: grid;
  grid-template-columns: repeat(1fr);
}

.ingredient-container {
  display: grid;
  grid-template-columns: 6.5fr 3fr 0.5fr;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .ingredient-container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    width: 100%;
  }
}
.ingredient-name {
  border: 0px;
  border-bottom: 1px;
  border-color: #000;
  border-style: solid;
  padding: 1.5rem;
}

.ingredient-quantity {
  background: none;
  border: 0px;
  border-left: 1px solid rgb(0, 0, 0, 0.2);
  border-bottom: 1px solid #000;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  touch-action: none;
}

.vegetables {
  background-color: var(--green-color);
}

.meat {
  background-color: var(--red-color);
}
.fish {
  background-color: var(--blue-color);
}
.spices {
  background-color: var(--yellow-color);
}

.unit {
  border: 0px;
  border-bottom: 1px;
  border-color: #000;
  border-style: solid;
  padding: 1.5rem 0;
  font-weight: 300;
}
