.addRecipeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

.addRecipeForm input {
  display: flex;
  width: 80vw;
  height: 4rem;
  text-align: center;
  border-radius: 1rem;
}

.addRecipeForm label {
  text-align: center;
  padding-bottom: 1rem;
}

.formGroup {
  margin: 2rem 0;
}

.ingredientInput {
  display: grid;
  grid-template-areas: 'ingredient weight type';
  grid-template-columns: 4fr 3fr 3fr;
  padding: 1px 0px;
  margin: 10px 0px;
}

.ingredientInput input {
  width: auto;
  margin: 1px 0;
  border-radius: 1rem;
}
.ingredientInput select {
  height: 4rem;
  display: flex;
  width: 100%;
  margin: 1px 0;
  border-radius: 1rem;
}
.addRecipeForm p {
  font-size: 2rem;
}
option {
  color: red;
}
.errorMessage {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: red;
}

.btnRecipe {
  width: 100vw;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.ingredientContainer {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--dark-color);
  padding: 2rem 0;
}

.ingredientContainer a {
  width: 100%;
  height: 100%;
  text-align: center;
}

.recipeSelected {
  padding-top: 2rem;
  text-align: center;
}

.recipeSelected p {
  padding-top: 1rem;
}

.recipeSelected .portions {
  font-weight: 200;
  font-size: 2rem;
}
