* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
}
main {
  padding-top: 6rem;
  height: 100vh;
}
section {
  height: 100%;
}

label,
input,
p,
a,
select,
ul,
li {
  font-size: 2rem;
}

h1 {
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

:root {
  --red-color: #ffb8b8;
  --blue-color: #b8dbff;
  --yellow-color: #fff8b8;
  --green-color: #afffa8;
  --brown-color: #f1c080;
  --light-color: #ffffff;
  --dark-color: #000000;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

input:focus,
select:focus {
  outline-color: var(--brown-color);
}

.btn {
  font-size: 2rem;
  padding: 1rem 2rem;
  background: var(--light-color);
  border: 1px solid;
  border-color: var(--dark-color);
  border-radius: 1rem;
  transition: all 0.3s ease;
  color: var(--dark-color);
  cursor: pointer;
}

.containerBtnDelete {
  position: fixed;
  width: 100%;
  bottom: 7rem;
  display: flex;
  justify-content: center;
}

.btn:visited {
  color: var(--dark-color);
}

.btn:hover {
  background-color: var(--dark-color);
  border-color: var(--light-color);
  color: var(--light-color);
}

.btn:focus {
  background-color: var(--dark-color);
  border-color: var(--light-color);
  color: var(--light-color);
}

.btnDelete {
  background: var(--red-color);
}
.btnDelete:focus {
  background: var(--red-color);
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

.confirmDeleteContainer {
  display: flex;
  flex-direction: column;
  padding: 10%;
  margin: 0 20px;
  text-align: center;
  gap: 3rem;
  background: #ccc;
  border-radius: 1rem;
}
.confirmDeleteContainer div {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.confirmDeleteContainer p {
  font-size: 2rem;
}
