* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
main {
  margin-top: 1rem;
}
:root {
  --red-color: #ffb8b8;
  --blue-color: #b8dbff;
  --yellow-color: #fff8b8;
  --green-color: #afffa8;
  --brown-color: #f1c080;
  --light-color: #ffffff;
  --dark-color: #000000;
}

a {
  text-decoration: none;
}

.btn a {
  font-size: 2rem;
  padding: 1rem 2rem;
  background: var(--light-color);
  border: 1px solid;
  border-color: var(--dark-color);
  border-radius: 1rem;
}
